
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

header{
    height: 100vh ;
}

header::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgb(184, 171, 171);
   background-image: url("../images/sigmund-By-tZImt0Ms-unsplash\ 1.png");
   background-size: cover;
   height: 100vh;
   width: 100vw;
   display: block;
   z-index: -10;
}


h1{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 120px;
    color: red;
}

h2{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 96px;
    color:#050899;
}


#secao-apresetacao{
    display: flex;
    align-items: center;
    padding: 2rem;
    gap: 5rem;
    height: 100vh;
    background-color: rgb(184, 171, 171);
}


#secao-apresetacao img{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}

#jacaredobrejo
{
    color: black;
}

#jacaredobrejo h2
{
    font-size: 2.25rem;
}

#jacaredobrejo p
{
    font-size: 1.25rem;
}

#secao-projeto
{
    height: 100vh;
    background-color: rgb(184, 171, 171);
}

#secao-projeto ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

#secao-projeto li{
    list-style: none;
}

.card{
    max-height: 400px;
    max-width: 300px;
    position: relative;
    cursor: pointer;
}

.card.image{
    height: 100%;
    width: 100;
}
.image img{
    height:100% ;
    width: 100%;
}
.card .texto{
    position: absolute;
    top: 0; 
    opacity: 0; 
    transition: opacity .5s;  
}

.card:hover .texto{   
    opacity: 1;   
}

